.title {
	font-size: 70px;
	margin-bottom: 30px;
	text-align: center;
}

.forgot {
}

.forgot:hover {
	cursor: pointer;
	color: grey;
}

fieldset {
	border: none !important;
}

.form {
	max-width: 45vw;
	margin: auto;
	padding: 10px;
}

.form > div {
	margin-top: 10px;
	margin-bottom: 40px;
	background-color: #F1F1F1;
	border-radius: 0.1px;
}

.form > a[type="submit"] {
	height: 55px;
	background-color: #7E729F;
}

.form > button[type="submit"] {
	height: 55px;
	background-color: #7E729F;
}

.form > button:hover {
	background-color: #5E526F;
}

.form .background-check {
	padding: 20px;
}

.form .background-check-question {
	padding: 10px;
}

.form > button[type="yesno"] {
	height: 55px;
	background-color: #7E729F;
}

.background-check-question button {
	margin-top: 10px; 
	background-color: #7E729F;
	color: white;
	margin-right: 20px;
	font-size: small;
  }

  .background-check-question button:hover {
	background-color: #4a3e52;
  }

  .yes.active {
	background-color: blue;
  }
  
  .no.active {
	background-color: blue;
  }
  
/*}
  .background-check-question button.disabled {
	background-color: rgb(185, 188, 180);
	color: white;
	cursor: not-allowed;
  } */